# SQL: Desafio

Nesta aula teremos um desafio de **SQL**. Veja se consegue solucionar todas as questões.

## Instalação da base

Vamos utilizar uma base de dados chamada "faculdade". Faça o download no blackboard e execute o script `faculdade.sql` para gerar a base de dados.

## Como resolver os exercícios?

Indicamos que crie uma cópia da base de dados em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [3]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print('Executando query:')
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv('MD_DB_SERVER'),
        user=os.getenv('MD_DB_USERNAME'),
        password=os.getenv('MD_DB_PASSWORD'),
        database='faculdade',
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Tarefas e Notas
Vamos conferir as tarefas e notas

In [4]:
ia.tasks()

|    | Atividade            | De                               | Até                       |
|---:|:---------------------|:---------------------------------|:--------------------------|
|  0 | select01             | 2023-08-08 03:00:00+00:00        | 2023-08-21 02:59:59+00:00 |
|  1 | newborn              | 2023-08-08 03:00:00+00:00        | 2023-08-16 02:59:59+00:00 |
|  2 | ddl                  | 2023-08-27 20:36:25.452000+00:00 | 2023-09-02 02:59:59+00:00 |
|  3 | dml                  | 2023-08-29 20:36:25.452000+00:00 | 2023-09-04 02:59:59+00:00 |
|  4 | group_having         | 2023-09-03 03:00:00+00:00        | 2023-09-17 02:59:59+00:00 |
|  5 | agg_join             | 2023-09-03 03:00:00+00:00        | 2023-09-09 02:59:59+00:00 |
|  6 | views                | 2023-09-11 03:00:00+00:00        | 2023-09-18 02:59:59+00:00 |
|  7 | sql_review1          | 2023-09-13 03:00:00+00:00        | 2023-09-20 02:59:59+00:00 |
|  8 | permissions          | 2023-09-20 03:00:00+00:00        | 2023-09-27 03:00:00+00:00 |
|  9 | desafio_normalizacao | 2023-09-25 03:00:00+00:00        | 2023-10-02 03:00:00+00:00 |

In [5]:
ia.grades(by="task")

|    | Tarefa               |   Nota |
|---:|:---------------------|-------:|
|  0 | agg_join             |  10    |
|  1 | ddl                  |   6.67 |
|  2 | desafio_normalizacao |   0    |
|  3 | dml                  |  10    |
|  4 | group_having         |  10    |
|  5 | newborn              |  10    |
|  6 | permissions          |  10    |
|  7 | select01             |  10    |
|  8 | sql_review1          |  10    |
|  9 | views                |   8.33 |

In [6]:
ia.grades()

|    | Atividade            | Exercício   |   Peso |   Nota |
|---:|:---------------------|:------------|-------:|-------:|
|  0 | agg_join             | ex01        |      1 |     10 |
|  1 | agg_join             | ex02        |      1 |     10 |
|  2 | agg_join             | ex03        |      1 |     10 |
|  3 | agg_join             | ex04        |      1 |     10 |
|  4 | agg_join             | ex05        |      1 |     10 |
|  5 | agg_join             | ex06        |      1 |     10 |
|  6 | ddl                  | ex02        |      1 |     10 |
|  7 | ddl                  | ex03        |      1 |     10 |
|  8 | ddl                  | ex04        |      1 |     10 |
|  9 | ddl                  | ex05        |      1 |     10 |
| 10 | ddl                  | ex06        |      1 |     10 |
| 11 | ddl                  | ex07        |      1 |     10 |
| 12 | ddl                  | ex09        |      1 |      0 |
| 13 | ddl                  | ex10        |      1 |      0 |
| 14 | ddl                  | ex11        |      1 |      0 |
| 15 | desafio_normalizacao | ex01        |      1 |      0 |
| 16 | desafio_normalizacao | ex02        |      1 |      0 |
| 17 | desafio_normalizacao | ex03        |      1 |      0 |
| 18 | desafio_normalizacao | ex04        |      1 |      0 |
| 19 | desafio_normalizacao | ex05        |      1 |      0 |
| 20 | dml                  | ex01        |      1 |     10 |
| 21 | dml                  | ex02        |      1 |     10 |
| 22 | dml                  | ex03        |      1 |     10 |
| 23 | dml                  | ex04        |      1 |     10 |
| 24 | dml                  | ex05        |      1 |     10 |
| 25 | dml                  | ex06        |      1 |     10 |
| 26 | group_having         | ex01        |      1 |     10 |
| 27 | group_having         | ex02        |      4 |     10 |
| 28 | group_having         | ex03        |      4 |     10 |
| 29 | group_having         | ex04        |      4 |     10 |
| 30 | group_having         | ex05        |      4 |     10 |
| 31 | group_having         | ex06        |      8 |     10 |
| 32 | group_having         | ex07        |      6 |     10 |
| 33 | group_having         | ex08        |      6 |     10 |
| 34 | group_having         | ex09        |     12 |     10 |
| 35 | group_having         | ex10        |     10 |     10 |
| 36 | group_having         | ex11        |     10 |     10 |
| 37 | group_having         | ex12        |      6 |     10 |
| 38 | group_having         | ex13        |     12 |     10 |
| 39 | newborn              | ex01        |      1 |     10 |
| 40 | permissions          | ex01        |      1 |     10 |
| 41 | permissions          | ex02        |      1 |     10 |
| 42 | permissions          | ex03        |      1 |     10 |
| 43 | permissions          | ex04        |      1 |     10 |
| 44 | permissions          | ex05        |      1 |     10 |
| 45 | permissions          | ex06        |      1 |     10 |
| 46 | permissions          | ex07        |      1 |     10 |
| 47 | permissions          | ex08        |      1 |     10 |
| 48 | permissions          | ex09        |      1 |     10 |
| 49 | permissions          | ex10        |      1 |     10 |
| 50 | permissions          | ex11        |      1 |     10 |
| 51 | permissions          | ex12        |      1 |     10 |
| 52 | permissions          | ex13b       |      1 |     10 |
| 53 | select01             | ex01        |      1 |     10 |
| 54 | select01             | ex02        |      1 |     10 |
| 55 | select01             | ex03        |      1 |     10 |
| 56 | select01             | ex04        |      1 |     10 |
| 57 | select01             | ex05        |      1 |     10 |
| 58 | sql_review1          | ex01        |      1 |     10 |
| 59 | sql_review1          | ex02        |      1 |     10 |
| 60 | sql_review1          | ex03        |      1 |     10 |
| 61 | sql_review1          | ex04        |      1 |     10 |
| 62 | sql_review1          | ex05        |      1 |     10 |
| 63 | sql_review1          | ex06        |      1 |     10 |
| 64 | sql_review1          | ex07        |      2 |     10 |
| 65 | sql_review1          | ex08        |      3 |     10 |
| 66 | sql_review1          | ex09        |      2 |     10 |
| 67 | sql_review1          | ex10        |      1 |     10 |
| 68 | sql_review1          | ex11        |      3 |     10 |
| 69 | sql_review1          | ex12        |      3 |     10 |
| 70 | views                | ex01        |      1 |     10 |
| 71 | views                | ex02        |      1 |     10 |
| 72 | views                | ex03        |      1 |     10 |
| 73 | views                | ex04        |      1 |      0 |
| 74 | views                | ex05        |      1 |     10 |
| 75 | views                | ex06        |      1 |      0 |
| 76 | views                | ex07        |      1 |     10 |
| 77 | views                | ex08        |      1 |     10 |
| 78 | views                | ex09        |      1 |     10 |
| 79 | views                | ex10        |      1 |     10 |
| 80 | views                | ex11        |      1 |     10 |
| 81 | views                | ex12        |      1 |     10 |

**Exercício 1**: Crie uma query que retorne o id e o nome dos alunos que tenham dois endereços na *CIDADE* de São Paulo ordenado pelo id do aluno.

In [11]:
sql_ex01 = '''
SELECT id_aluno, nome FROM faculdade.alunos
WHERE
    endereco1 LIKE '%São Paulo, %São Paulo%'
    AND endereco2 LIKE '%São Paulo, %São Paulo%'
ORDER BY
    id_aluno
'''

db(sql_ex01)

Executando query:
(91, 'LOIS BUTLER')
(107, 'FLORENCE WOODS')
(130, 'CHARLOTTE HUNTER')
(281, 'LEONA OBRIEN')
(431, 'JOEL FRANCISCO')
(463, 'DARRELL POWER')
(515, 'ANDRE RAPP')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [12]:
ia.sender(answer='sql_ex01', task='desafio_normalizacao', question='ex01', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 2**: Uma pesquisa interna revelou que existe um professor na faculdade que causa um aumento na taxa de felicidade dos alunos. Para identificar os alunos mais felizes, escreva uma query que retorne o id e o nome dos alunos que cursam ao mesmo tempo as disciplinas de Megadados e Big Data ou que cursam ao mesmo tempo as disciplinas de Megadados e MLOps. Ordene pelo id do aluno.

In [13]:
sql_ex02 = '''
SELECT id_aluno, nome FROM faculdade.alunos
WHERE
    disciplinas LIKE '%Megadados%' AND disciplinas LIKE '%Big Data%'
    OR disciplinas LIKE '%Megadados%' AND disciplinas LIKE '%MLOps%'
ORDER BY
    id_aluno
'''

db(sql_ex02)

Executando query:
(24, 'KIMBERLY LEE')
(64, 'JUDITH COX')
(77, 'JANE BENNETT')
(126, 'ELLEN SIMPSON')
(129, 'CARRIE PORTER')
(168, 'REGINA BERRY')
(176, 'JUNE CARROLL')
(206, 'TERRI VASQUEZ')
(211, 'STACEY MONTGOMERY')
(216, 'NATALIE MEYER')
(228, 'ALLISON STANLEY')
(254, 'MAXINE SILVA')
(260, 'CHRISTY VARGAS')
(267, 'MARGIE WADE')
(283, 'FELICIA SUTTON')
(307, 'JOSEPH JOY')
(313, 'DONALD MAHON')
(320, 'ANTHONY SCHWAB')
(322, 'JASON MORRISSEY')
(325, 'TIMOTHY BUNN')
(329, 'FRANK WAGGONER')
(332, 'STEPHEN QUALLS')
(333, 'ANDREW PURDY')
(334, 'RAYMOND MCWHORTER')
(361, 'LAWRENCE LAWTON')
(362, 'NICHOLAS BARFIELD')
(389, 'ALAN KAHN')
(405, 'LEONARD SCHOFIELD')
(422, 'MELVIN ELLINGTON')
(436, 'TROY QUIGLEY')
(443, 'FRANCISCO SKIDMORE')
(445, 'MICHEAL FORMAN')
(463, 'DARRELL POWER')
(495, 'CHARLIE BESS')
(527, 'CORY MEEHAN')
(538, 'TED BREAUX')
(552, 'HUGH WALDROP')
(585, 'PERRY SWAFFORD')
(594, 'EDUARDO HIATT')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [14]:
ia.sender(answer='sql_ex02', task='desafio_normalizacao', question='ex02', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: A "Avenida Marginal" na cidade de Anápolis mudou de nome para "Avenida Ribeirinha". Escreva uma query que atualize o nome da rua para todos os endereços que possuem o nome "Avenida Marginal" nesta cidade.

In [15]:
sql_ex03 = '''
UPDATE
    faculdade.alunos
SET
    endereco1 = IF(endereco1 LIKE '%Avenida Marginal%' AND endereco1 LIKE '%Anápolis, Goiás%', REPLACE(endereco1, 'Avenida Marginal', 'Avenida Ribeirinha'), endereco1), 
    endereco2 = IF(endereco2 LIKE '%Avenida Marginal%' AND endereco2 LIKE '%Anápolis, Goiás%', REPLACE(endereco2, 'Avenida Marginal', 'Avenida Ribeirinha'), endereco2)
'''

db(sql_ex03)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [16]:
ia.sender(answer='sql_ex03', task='desafio_normalizacao', question='ex03', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**: Crie uma query que retorne o **Nome** de todas as disciplinas presentes no banco de dados. Ordene pelo nome da disciplina.

In [17]:
sql_ex04 = '''
(SELECT SUBSTRING_INDEX(disciplinas, ',', 1) AS disciplinas FROM faculdade.alunos)
UNION (SELECT
    SUBSTRING_INDEX(SUBSTRING_INDEX(disciplinas, ', ', 2), ', ', -1) AS disciplinas
FROM
    faculdade.alunos)
ORDER BY
    disciplinas
'''

db(sql_ex04)

Executando query:
('Big Data',)
('Computação em Nuvem',)
('Design de Computadores',)
('Machine Learning',)
('Meditação e Relaxamento',)
('Megadados',)
('MLOps',)
('Redes Sociais',)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [18]:
ia.sender(answer='sql_ex04', task='desafio_normalizacao', question='ex04', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**: A disciplina "Meditação e Relaxamento" foi cancelada por conta do baixo interesse nela pelos alunos. Escreva uma query que remova a disciplina do banco de dados sem que a estrutura da coluna seja afetada.

In [19]:
sql_ex05 = '''
UPDATE
    faculdade.alunos
SET
    disciplinas = IF(disciplinas LIKE '%Meditação e Relaxamento, %', REPLACE(disciplinas, 'Meditação e Relaxamento, ', ''), disciplinas),
    disciplinas = IF(disciplinas LIKE '%, Meditação e Relaxamento', REPLACE(disciplinas, ', Meditação e Relaxamento', ''), disciplinas),
    disciplinas = IF(disciplinas LIKE '%Meditação e Relaxamento%', REPLACE(disciplinas, 'Meditação e Relaxamento', ''), disciplinas)
'''

db(sql_ex05)

Executando query:

In [20]:
ia.sender(answer='sql_ex05', task='desafio_normalizacao', question='ex05', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

### Conferindo as Notas

Conferindo as Notas em cada exercício de **todas** as atividades disponíveis:

Podemos filtrar por uma atividade:

In [21]:
ia.grades(task='desafio_normalizacao')

|    | Atividade            | Exercício   |   Peso |   Nota |
|---:|:---------------------|:------------|-------:|-------:|
|  0 | desafio_normalizacao | ex01        |      1 |     10 |
|  1 | desafio_normalizacao | ex02        |      1 |     10 |
|  2 | desafio_normalizacao | ex03        |      1 |     10 |
|  3 | desafio_normalizacao | ex04        |      1 |     10 |
|  4 | desafio_normalizacao | ex05        |      1 |     10 |

Nota por atividade (tarefa):

In [22]:
ia.grades(by='TASK')

|    | Tarefa               |   Nota |
|---:|:---------------------|-------:|
|  0 | agg_join             |  10    |
|  1 | ddl                  |   6.67 |
|  2 | desafio_normalizacao |  10    |
|  3 | dml                  |  10    |
|  4 | group_having         |  10    |
|  5 | newborn              |  10    |
|  6 | permissions          |  10    |
|  7 | select01             |  10    |
|  8 | sql_review1          |  10    |
|  9 | views                |   8.33 |

Podendo filtrar apenas uma atividade:

In [23]:
ia.grades(by='TASK', task='desafio_normalizacao')

|    | Tarefa               |   Nota |
|---:|:---------------------|-------:|
|  0 | desafio_normalizacao |     10 |