# `SELECT`

Nesta aula vamos explorar o comando `SELECT`, usado para consultar a base de dados. 

Instale a base de teste **musica** usando o script `musica.sql`. Este script instala a base de dados de exemplo do livro-texto da disciplina, de modo que vocês podem praticar com os exercícios do livro também!

Copie o conteúdo de `musica.sql` e execute no **Workbench**. Então, dê botão direito e atualize a lista de *schemas*. Após, dê botão direito no *schema* **musica**, escolha a opção *set as default schema* e crie uma nova aba **SQL**.

## Explorando a estrutura da base de dados

Nas próximas células, copie o conteúdo dos comandos **SQL** e rode no Workbench.

Para ver quais tabelas existem na base `musica`, utilize:

<div class="alert alert-info">

```mysql
SHOW TABLES
```

</div>

Para saber qual o *schema* da tabela `CD`, podemos usar o comando '`DESCRIBE`':

<div class="alert alert-info">

```mysql
DESCRIBE CD
```

</div>

## Consultando a base de dados

Vamos usar o comando '`SELECT`' para listar os conteudos da tabela 'cd':

<div class="alert alert-info">

```mysql
SELECT * FROM CD
```

</div>

O comando acima lista todos os registros da tabela `'CD'`, com todas as colunas presentes:

![Seleção da tabela inteira](imgs/tudo.png)

Vamos agora selecionar apenas algumas colunas para exibir.

<div class="alert alert-info">

```mysql
SELECT Nome_CD, Data_Lancamento FROM CD
```

</div>

Agora vemos apenas as colunas escolhidas. Relembrando: a operação de seleção de colunas chama-se **projeção**.

![Projeção](imgs/projecao.png)

Vamos agora atuar na escolha de linhas, selecionando quais desejamos. Para escolher todas as linhas cujo `Nome_CD` terminem em `'a'`, podemos executar a query a seguir:

<div class="alert alert-info">

```mysql
SELECT * FROM CD WHERE Nome_CD LIKE '%a'
```

</div>

Formatar a query facilita sua compreensão!

<div class="alert alert-info">

```mysql
SELECT 
    *
FROM
    CD
WHERE
    Nome_CD LIKE '%a'
```

</div>

Vemos apenas as linhas escolhidas. Recordando: a operação de filtragem de linhas apropriadas chama-se **seleção**.

![Seleção](imgs/selecao.png)

### Comentários

Comentários podem ser úteis para auxiliar na compreensão das queries. Em SQL, utilizaremos `--` **seguido de um espaço** e tudo a direita será considerado como comentário. Veja um exemplo:

<div class="alert alert-info">

```mysql
SELECT 
    * 
FROM
    CD
WHERE
    Nome_CD LIKE '%a' -- Aqui, % tem o mesmo significado que asterisco em uma busca no terminal!
```

</div>

## Cláusula `WHERE`

A cláusula `WHERE` permite **filtrar as linhas** da tabela (ou tabelas: aguarde cenas dos próximos capítulos!). Basta especificar a condição de filtragem: o resultado da query será o conjunto de linhas para as quais a condição é verdadeira.

Já vimos alguns usos da cláusula `WHERE` acima. Vamos ver mais exemplos:

# Queries equivalentes.

<div class="alert alert-info">

A query:

```mysql
SELECT * FROM CD
```

É equivalente a:

```mysql
SELECT * FROM CD WHERE True
```

</div>

Qual o cd mais antigo que custa 13 reais ou mais?

<div class="alert alert-info">

```mysql
SELECT 
    Nome_CD,
    Preco_Venda,
    Data_Lancamento
FROM 
    CD 
WHERE 
    Preco_Venda >= 13 
```

</div>

Perceba que, com os resultados obtidos, podemos comparar as datas uma a uma e encontrar a mais antiga. Logo, obtemos o nome do cd mais antigo que custa 13 reais ou mais! Mas será que existe forma mais fácil?

## Ordenar linhas

Podemos usar o `ORDER BY` para indicar por qual coluna queremos fazer a ordenação. Podemos também indicar com `ASC` que a ordenação será crescente (padrão) e `DESC` para decrescente.

<div class="alert alert-info">

```mysql
SELECT 
    Nome_CD, Preco_Venda, Data_Lancamento
FROM 
    CD 
WHERE 
    Preco_Venda >= 13
ORDER BY 
    Data_Lancamento DESC
```

</div>

Pronto! Agora o **CD** requisitado está na última linha, muito mais fácil, não?!

Podemos indicar apenas um inteiro como id da coluna a ser ordenada. Entretanto, é uma boa prática escrever o nome da coluna, tanto por facilidade de leitura quanto por mudanças que podem ser feitas nas colunas retornadas pela query, sendo fácil esquecer ou perceber que o id mudou.

<div class="alert alert-info">

```mysql
SELECT 
    Nome_CD, Preco_Venda, Data_Lancamento
FROM 
    CD 
WHERE 
    Preco_Venda >= 13
ORDER BY 
    3 DESC
```

</div>

Mas será que precisamos retornar todas as linhas? O nosso interesse está em apenas uma (a que possui **o cd mais antigo que custa 13 reais ou mais**).

### `LIMIT`ar a quantidade de linhas retornadas!

Podemos utilizar o `LIMIT` para definir um limite máximo da quantidade de linhas retornadas. Isto será bastante útil quando apenas estivermos explorando as tabelas, quando ver três ou cinco linhas da tabela é suficiente (semelhante ao `dataframe.head()` do `pandas`).

Vamos tentar?

<div class="alert alert-info">

```mysql
SELECT 
    Nome_CD, Preco_Venda, Data_Lancamento
FROM 
    CD 
WHERE 
    Preco_Venda >= 13
ORDER BY 
    Data_Lancamento DESC
LIMIT 1
```

</div>

Não é bem o que queremos, obtemos a **mais atual** ao invés da mais antiga!

**Atividade:** Qual o cd mais antigo que custa 13 reais ou mais? Construa uma query que retorne apenas o Nome do CD, com apenas uma linha sendo retornada!

<div class="alert alert-success">

   
```mysql
SELECT Nome_CD FROM cd WHERE Preco_Venda >= 13 ORDER BY Data_Lancamento LIMIT 1;
```
</div>

### Column Aliases

Podemos utilizar **aliases** (pseudônimo/apelido) em **SQL** quando o **nome de uma coluna** precisar ser retornado com de forma diferente do original.

Para isto, basta utilizar **as** após o nome da coluna, definindo o novo nome desejado:

<div class="alert alert-info">

```mysql
SELECT 
    Nome_CD as cd,
    Preco_Venda as valor,
    Data_Lancamento as data_lanc
FROM 
    CD 
WHERE 
    Preco_Venda >= 13
ORDER BY 
    Data_Lancamento DESC
```

</div>

### Vamos praticar queries!

Preencha os códigos a seguir com buscas adequadas. Consulte seu livro texto para descobrir como montar essas queries.

Teste as queries no **Workbench**. Quando estiver confiante de que ela está correta, cole na variável `sql` e faça a submissão!

Vamos importar as bibliotecas pois esta atividade tem testes automáticos!

In [1]:
import os
import insperautograder.jupyter as iaj
from dotenv import load_dotenv

load_dotenv(override=True)

True

Conferindo quais atividades estão disponíveis!

In [2]:
iaj.tasks()

|    | Atividade   | De                        | Até                       |
|---:|:------------|:--------------------------|:--------------------------|
|  0 | newborn     | 2023-08-08 03:00:00+00:00 | 2023-08-16 02:59:59+00:00 |
|  1 | select01    | 2023-08-08 03:00:00+00:00 | 2023-08-21 02:59:59+00:00 |

Temos estes exercícios disponíveis na atividade da aula de hoje (`select01`):

In [3]:
iaj.grades(task='select01')

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | select01    | ex01        |      1 |      0 |
|  1 | select01    | ex02        |      1 |      0 |
|  2 | select01    | ex03        |      1 |      0 |
|  3 | select01    | ex04        |      1 |      0 |
|  4 | select01    | ex05        |      1 |      0 |

E começamos com nota **zero!**

In [4]:
iaj.grades(by='TASK', task='select01')

|    | Tarefa   |   Nota |
|---:|:---------|-------:|
|  0 | select01 |      0 |

Pronto, hora de trabalhar!

**Exercício 01**: Qual o nome da música com duração mais longa? Retorne uma coluna chamada `nome_musica_mais_longa`.

<div class="alert alert-success">

   
```mysql
-- Sua resposta aqui!
-- Dê dois cliques e edite a QUERY se quiser vê-la formatada!
```
</div>

In [7]:
sql01 = """
SELECT Nome_Musica AS nome_musica_mais_longa FROM MUSICA ORDER BY Duracao DESC LIMIT 1;
"""

In [8]:
iaj.sender(answer='sql01', task='select01', question='ex01', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 02**: Quais gravadoras não tem endereço declarado?
- **Dica**: https://dev.mysql.com/doc/refman/8.0/en/problems-with-null.html

<div class="alert alert-success">

   
```mysql
-- Sua resposta aqui!
-- Dê dois cliques e edite a QUERY se quiser vê-la formatada!
```
</div>

In [9]:
sql02 = """
SELECT Nome_Gravadora FROM GRAVADORA WHERE Endereco IS NULL;
"""

In [10]:
iaj.sender(answer='sql02', task='select01', question='ex02', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 03**: Quais cds foram lançados na década de 90?
- **Dica**:
    - Anos da década de 90 estão **ENTRE** quais anos?
    - Como dizemos **ENTRE** em ingles?
    - https://dev.mysql.com/doc/refman/8.0/en/comparison-operators.html

<div class="alert alert-success">

   
```mysql
-- Sua resposta aqui!
-- Dê dois cliques e edite a QUERY se quiser vê-la formatada!
```
</div>

In [11]:
sql03 = """
SELECT Nome_CD FROM CD WHERE Data_Lancamento LIKE '199%';
"""

In [12]:
iaj.sender(answer='sql03', task='select01', question='ex03', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 04**: Quais cds foram lançados na década de 90 e custam 10 reais ou menos?
- **Dica**: `AND`, `OR`

<div class="alert alert-success">

   
```mysql
-- Sua resposta aqui!
-- Dê dois cliques e edite a QUERY se quiser vê-la formatada!
```
</div>

In [13]:
sql04 = """
SELECT Nome_CD FROM CD WHERE Data_Lancamento LIKE '199%' AND Preco_Venda <= 10;
"""

In [14]:
iaj.sender(answer='sql04', task='select01', question='ex04', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 05**: Quais cds receberam alguma recomendação? Liste seus ids.

<div class="alert alert-success">

   
```mysql
-- Sua resposta aqui!
-- Dê dois cliques e edite a QUERY se quiser vê-la formatada!
```
</div>

In [17]:
sql05 = """
SELECT Codigo_CD FROM CD WHERE Codigo_CD IN (SELECT CD_Indicado FROM CD);
"""

In [18]:
iaj.sender(answer='sql05', task='select01', question='ex05', answer_type='pyvar')

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Conferir notas

Vamos verificar se as notas foram gravadas nos exercícios!

In [19]:
iaj.grades(task='select01')

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | select01    | ex01        |      1 |     10 |
|  1 | select01    | ex02        |      1 |     10 |
|  2 | select01    | ex03        |      1 |     10 |
|  3 | select01    | ex04        |      1 |     10 |
|  4 | select01    | ex05        |      1 |     10 |

Vamos verificar se a nota da atividade está ok:

In [20]:
iaj.grades(by='TASK', task='select01')

|    | Tarefa   |   Nota |
|---:|:---------|-------:|
|  0 | select01 |     10 |

## Finalizando o trabalho

Por hoje é só! Pratique com os exercícios do seu livro texto.