# `SELECT`

Nesta aula vamos explorar mais sobre o comando `SELECT`, usado para consultar a base de dados.

Continuaremos a utilizar a mesma base da Aula 02. Se não tiver, instale a base de teste **musica** usando o script `musica.sql`. Este script instala a base de dados de exemplo do livro-texto da disciplina, de modo que vocês podem praticar com os exercícios do livro também!

Eis aqui o diagrama do modelo relacional dessa base de dados:

<center><img src="imgs/modelo_relacional.png"/></center>

Eis a lista completa de chaves primárias e estrangeiras:

```SQL
ALTER TABLE AUTOR
    ADD PRIMARY KEY (Codigo_Autor);

ALTER TABLE CD
    ADD PRIMARY KEY (Codigo_CD) ;

ALTER TABLE GRAVADORA
    ADD PRIMARY KEY (Codigo_Gravadora) ;

ALTER TABLE FAIXA
    ADD PRIMARY KEY (Codigo_Musica, Codigo_CD);

ALTER TABLE MUSICA
    ADD PRIMARY KEY (Codigo_Musica) ;

ALTER TABLE MUSICA_AUTOR
    ADD PRIMARY KEY (Codigo_Musica, Codigo_Autor);

ALTER TABLE CD
    ADD FOREIGN KEY (Codigo_Gravadora)
        REFERENCES GRAVADORA(Codigo_Gravadora);

ALTER TABLE CD
    ADD FOREIGN KEY (CD_Indicado)
        REFERENCES CD(Codigo_CD);

ALTER TABLE FAIXA
    ADD FOREIGN KEY (Codigo_CD)
        REFERENCES CD(Codigo_CD);

ALTER TABLE FAIXA
    ADD FOREIGN KEY (Codigo_Musica)
        REFERENCES MUSICA(Codigo_Musica);

ALTER TABLE MUSICA_AUTOR
    ADD FOREIGN KEY (Codigo_Autor)
        REFERENCES AUTOR(Codigo_Autor);

ALTER TABLE MUSICA_AUTOR
    ADD FOREIGN KEY (Codigo_Musica)
        REFERENCES MUSICA(Codigo_Musica);
```

**Atividade:** Quais destas tabelas são tabelas de relacionamento?

<div class="alert alert-success">

Sua resposta aqui! Dê dois cliques e edite.

</div>

## Criar conexão com o banco de dados
Vamos agora criar a conexão com o banco de dados e o objeto auxiliar de conexão. Aqui resolvi usar uma estratégia diferente de implementação que dá o mesmo resultado, para deixar de exemplo para vocês:

In [ ]:
# !pip install mysql-connector-python

In [ ]:
from functools import partial
from dotenv import load_dotenv
import insperautograder.jupyter as ia
import mysql.connector
import os

load_dotenv(override=True)

connection = mysql.connector.connect(
    host=os.getenv("MD_DB_SERVER"),
    user=os.getenv("MD_DB_USERNAME"),
    password=os.getenv("MD_DB_PASSWORD"),
    database="musica"
)

def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print("Executando query:")
        cursor.execute(query, args)
        for result in cursor:
            print(result)


db = partial(run_db_query, connection)

# <span style='color:blue;'> Relembrando `SELECT`</span>

As cláusulas das próximas seções já foram vistas nas primeiras aulas (Select). Deixamos aqui para que relembrem, agora utilizando a chamada `db()` direto no python!

## Explorando a estrutura da base de dados

Agora podemos usar nosso helper para enviar comandos à base de dados. Vamos ver quais tabelas existem na base 'musica':

In [ ]:
db('SHOW TABLES')

Para saber qual o schema da tabela 'cd', podemos usar o comando '`DESCRIBE`'

In [ ]:
db('DESCRIBE CD')

## Consultando a base de dados

Relembrando: vamos usar o comando '`SELECT`' para listar os conteudos da tabela 'cd'

In [ ]:
db('SELECT * FROM CD')

O comando acima lista todos os registros da tabela 'cd', com todas as colunas presentes:

![Seleção da tabela inteira](imgs/tudo.png)

Vamos agora selecionar apenas algumas colunas para exibir.

In [ ]:
db('SELECT Nome_CD, Data_Lancamento FROM CD')

Agora vemos apenas as colunas escolhidas. Relembrando: a operação de seleção de colunas chama-se **projeção**.

![Projeção](imgs/projecao.png)

Vamos agora atuar na escolha de linhas, selecionando quais desejamos. Para escolher todas as linhas cujo Nome_CD terminem em 'a', podemos executar a query a seguir:

In [ ]:
db("SELECT * FROM CD WHERE Nome_CD LIKE '%a'")

Formatar a query facilita sua compreensão!

In [ ]:
sql = """
SELECT 
    *
FROM
    CD
WHERE
    Nome_CD LIKE '%a'
"""
db(sql)

Vemos apenas as linhas escolhidas. Recordando: a operação de filtragem de linhas apropriadas chama-se **seleção**.

![Seleção](imgs/selecao.png)

### Comentários

Comentários podem ser úteis para auxiliar na compreensão das queries. Em SQL, utilizaremos `--` **seguido de um espaço** e tudo a direita será considerado como comentário. Veja um exemplo:

In [ ]:
sql = """
SELECT 
    * 
FROM
    CD
WHERE
    Nome_CD LIKE '%a' -- Aqui, % tem o mesmo significado que asterisco em uma busca no terminal!
"""
db(sql)

## Cláusula `WHERE`

A cláusula `WHERE` permite **filtrar as linhas** da tabela (ou tabelas - mais sobre *JOIN* daqui a pouco). Basta especificar a condição de filtragem: o resultado da query será o conjunto de linhas para as quais a condição é verdadeira.

Já vimos alguns usos da cláusula `WHERE` acima. Vamos ver mais exemplos:

In [ ]:
# Queries equivalentes.
db('SELECT * FROM CD')
db('SELECT * FROM CD WHERE True')

Qual o cd mais antigo que custa 13 reais ou mais?

In [ ]:
db('''
SELECT 
    Nome_CD, Preco_Venda, Data_Lancamento
FROM 
    CD 
WHERE 
    Preco_Venda >= 13 
''')

Perceba que, com os resultados obtidos, podemos comparar as datas uma a uma e encontrar a mais antiga. Logo, obtemos o nome do cd mais antigo que custa 13 reais ou mais! Mas será que existe forma mais fácil?

## Ordenar linhas

Podemos usar o `ORDER BY` para indicar por qual coluna queremos fazer a ordenação. Podemos também indicar com `ASC` que a ordenação será crescente (padrão) e `DESC` para decrescente.

In [ ]:
db('''
SELECT 
    Nome_CD, Preco_Venda, Data_Lancamento
FROM 
    CD 
WHERE 
    Preco_Venda >= 13
ORDER BY 
    Data_Lancamento DESC
''')

Pronto! Agora o cd requisitado está na última linha, muito mais fácil, não?!

Podemos indicar apenas um inteiro como id da coluna a ser ordenada. Entretanto, é uma boa prática escrever o nome da coluna, tanto por facilidade de leitura quanto por mudanças que podem ser feitas nas colunas retornadas pela query, sendo fácil esquecer ou perceber que o id mudou.

In [ ]:
db('''
SELECT 
    Nome_CD, Preco_Venda, Data_Lancamento
FROM 
    CD 
WHERE 
    Preco_Venda >= 13
ORDER BY 
    3 DESC
''')

Mas será que precisamos retornar todas as linhas? O nosso interesse está em apenas uma (a que possui **o cd mais antigo que custa 13 reais ou mais**).

### `LIMIT`ar a quantidade de linhas retornadas!

Podemos utilizar o `LIMIT` para definir um limite máximo da quantidade de linhas retornadas. Isto será bastante útil quando apenas estivermos explorando as tabelas, quando ver três ou cinco linhas da tabela é suficiente (semelhante ao `dataframe.head()` do `pandas`).

Vamos tentar?

In [ ]:
db('''
SELECT 
    Nome_CD, Preco_Venda, Data_Lancamento
FROM 
    CD 
WHERE 
    Preco_Venda >= 13
ORDER BY 
    Data_Lancamento DESC
LIMIT 1
''')

# <span style='color:blue;'> Conteúdo novo!</span>
## Agregação

Agregação em **SQL** refere-se ao processo de **combinar e resumir dados** para obter informações mais significativas.

Utilizaremos funções como `SUM`, `COUNT`, `AVG`, `MAX` e `MIN`, que **operam em conjuntos de registros** para gerar resultados consolidados.

**Exemplo**: Quantas músicas tem na base?

In [ ]:
db('SELECT COUNT(*) FROM MUSICA')

Note o comando `COUNT` acima. Trata-se de um comando de *agregação*: uma operação que trabalha em cima de todo o resultado da query e retorna um valor agregado para esses resultados. 

Usamos o argumento "\*" para indicar que queremos apenas contar quantas linhas não são nulas. Normalmente é melhor especificar direito a coluna sobre a qual queremos operar.

Por exemplo: qual a duração da musica mais longa?

In [ ]:
db('SELECT MAX(duracao) FROM MUSICA')

**Exercícios para entrega**

Esta aula tem atividade para entrega, confira os prazos e exercícios

In [ ]:
ia.tasks()

In [ ]:
ia.grades(task="agg_join")

**Exercício 1:** Quantas musicas foram escritas pelo autor número 1 (Renato Russo)?

**Obs**: o atributo retornado de ve se chamar `qt_musicas`

In [ ]:
sql_ex01 = '''
-- SUA QUERY AQUI!
'''

db(sql_ex01)

In [ ]:
ia.sender(answer='sql_ex01', task='agg_join', question='ex01', answer_type='pyvar')

**Exercício 2:** Se eu fosse comprar uma cópia de cada CD da base, quanto gastaria?

**Obs**: o atributo retornado de ve se chamar `valor_total`

In [ ]:
sql_ex02 = '''
-- SUA QUERY AQUI!
'''

db(sql_ex02)

In [ ]:
ia.sender(answer='sql_ex02', task='agg_join', question='ex02', answer_type='pyvar')

## Variáveis

Verificando manualmente a tabela `musica` podemos encontrar o nome da musica mais longa:

In [ ]:
db('SELECT * from MUSICA')

Nenhuma surpresa aqui: é "Faroeste Caboclo"...

Agora suponha que eu quero localizar o *nome* da música mais comprida. Note que o comando a seguir NÃO FAZ SENTIDO:

In [ ]:
db('SELECT Nome_musica, MAX(duracao) FROM MUSICA')

A resposta está errada. Nem poderia estar certa: e se tivermos mais de uma música com a duração máxima?

Talvez se especificássemos que a duracao da música tem que coincidir com a duracao máxima...

In [ ]:
try:
    db('SELECT Nome_musica FROM MUSICA WHERE duracao=MAX(duracao)')
except mysql.connector.DatabaseError as e:
    print(f'DatabaseError: {e}')

Também não funciona: não podemos usar uma função de agrupamento dentro da cláusula `WHERE`. Como resolver isso então?

Primeiro descubra qual é a maior duração e guarde em uma *variável* ***no banco de dados***.

In [ ]:
db('SELECT MAX(duracao) INTO @max_duracao from MUSICA')

Podemos checar o valor dessa variavel agora:

In [ ]:
db('SELECT @max_duracao')

Agora podemos terminar o serviço!

In [ ]:
db('SELECT Nome_musica FROM MUSICA WHERE duracao=@max_duracao')

**Exercício 3**: Encontre todas as musicas com duração acima da média.

Você deve criar uma variável chamada `avg_duracao` e utilizá-la em sua solução!

Ainda, retorne a `duracao` e o `Nome_musica`, ordenando de forma decrescente pela `duracao`.

In [ ]:
sql_ex03_part1 = """
-- SUA QUERY PARA CRIAR VARIÁVEL
"""

sql_ex03_part2 = """
-- SUA QUERY PARA SELECIONAR VARIÁVEL (PARA VER SEU CONTEÚDO
"""

sql_ex03_part3 = """
-- SUA QUERY PARA SELECIONAR MÚSICAS COM DURAÇÃO ACIMA DA MÉDIA
"""

# Para envio ao servidor: Não alterar
sql_ex03 = f"""
{sql_ex03_part1.replace(';','').strip()};
{sql_ex03_part2.replace(';','').strip()};
{sql_ex03_part3.replace(';','').strip()};
"""

print("-> Criar variável:")
db(sql_ex03_part1)
print("\n-> Selecionar variável:")
db(sql_ex03_part2)
print("\n-> Músicas com duração acima da média:")
db(sql_ex03_part3)

In [ ]:
ia.sender(answer='sql_ex03', task='agg_join', question='ex03', answer_type='pyvar')

## Pesquisa em múltiplas tabelas

### Produto cartesiano

Quando listamos várias tabelas no comando `SELECT` temos como resultado o produto cartesiano destas. 

(Para os matemáticos: não se trata estritamente do produto cartesiano, pois não geramos um conjunto de duplas de tuplas. Geramos um "aplainamento" - *flattening* - do resultado, para cada linha.)

Por exemplo, se temos uma tabela com 2 linhas e outra com 3 linhas, o resultado terá 6 linhas, como ilustrado a seguir:

```SQL
DROP DATABASE IF EXISTS test;
CREATE DATABASE test;
USE test;

CREATE TABLE tab1 (
    coluna11 INT,
    coluna21 INT
);

CREATE TABLE tab2 (
    coluna12 INT,
    coluna22 INT
);

INSERT INTO tab1 VALUES (1, 2), (3, 4);
INSERT INTO tab2 VALUES (1000, 2000), (3000, 4000), (5000, 6000);

SELECT * FROM tab1;

SELECT * FROM tab2;

SELECT * FROM tab1, tab2;
```

Resultado:

![Produto cartesiano](imgs/cartesiano.png)

Observe o que acontece quando unimos as tabelas *cd* e *gravadora*

In [ ]:
db('SELECT * FROM CD, GRAVADORA')

### Inner join

E se filtrássemos o resultado anterior, mantendo apenas as linhas em que o código de gravadora na tabela *'cd'* coincida com o código de gravadora na tabela *'gravadora'*?

In [ ]:
db('''
SELECT 
    * 
FROM 
    CD as c, GRAVADORA as g 
WHERE 
    c.Codigo_Gravadora = g.Codigo_Gravadora
''')

In [ ]:
db('''
SELECT
    Nome_CD, Nome_Gravadora 
FROM
    CD as c, GRAVADORA as g 
WHERE
    c.Codigo_Gravadora = g.Codigo_Gravadora
''')

Opa, parece que com isso conseguimos associar a gravadora ao cd!

Estamos mantendo apenas as linhas do produto cartesiano onde o codigo da gravadora declarado na tabela cd bate com o codigo da gravadora declarado na tabela gravadora. Logo, nestas linhas, a informação proveniente da tabela cd e a informação proveniente da tabela gravadora estarão se referindo à mesma gravadora. Conseguimos, portanto, conectar as informações de cada CD com as informações da gravadora à qual aquele CD pertence.

Denominamos *"inner join"*, *"equi-join"* ou "união regular" a essa operação de junção de tabelas através da união de **chave primária** de uma com **chave estrangeira** de outra. Eu chamo informalmente de "vamos bater chaves!"

Vamos construir uma lista de cds e suas respectivas gravadoras:

In [ ]:
db('''
SELECT 
    Nome_CD, Nome_Gravadora 
FROM 
    CD as c, GRAVADORA as g 
WHERE 
    c.Codigo_Gravadora = g.Codigo_Gravadora
''')

Vamos aprimorar nossa query para procurar apenas os CDs gravados pela 'SOM LIVRE':

In [ ]:
db("""
SELECT 
    Nome_CD, Nome_Gravadora 
FROM 
    CD as c, 
    GRAVADORA as g
WHERE 
    c.Codigo_Gravadora = g.Codigo_Gravadora
    AND g.Nome_Gravadora = 'SOM LIVRE'
""")

Existem "apelidos" para a união regular, que produzem o mesmo resultado:

In [ ]:
db('''
SELECT 
    Nome_CD, 
    Nome_Gravadora 
FROM 
    CD
    INNER JOIN GRAVADORA USING (Codigo_Gravadora)
''')

In [ ]:
db('''
SELECT
    Nome_CD,
    Nome_Gravadora
FROM
    CD as c
    INNER JOIN GRAVADORA as g ON c.Codigo_Gravadora = g.Codigo_Gravadora
''')

**Exercício 4**: Construa a lista das musicas do Renato Russo. Sua query deverá filtrar utilizando o texto `"Renato Russo"`.

- **Dica**: Reveja os relacionamentos!

In [ ]:
sql_ex04 = '''
-- SUA QUERY AQUI!
'''

db(sql_ex04)

In [ ]:
ia.sender(answer='sql_ex04', task='agg_join', question='ex04', answer_type='pyvar')

### Self join

E se quisermos listar os nomes de CDs e seus respectivos CDs indicados? Veja a solução abaixo. Note o uso de dois *aliases* diferentes para a tabela cd.

In [ ]:
# Observe também o uso da função CONCAT(), só para ficar mais bonito!
db('''
SELECT
    CONCAT('"', c1.Nome_CD, '" indicado por "', c2.Nome_CD, '"')
FROM
    CD c1,
    CD c2
WHERE
    c1.Codigo_CD = c2.CD_Indicado
''')

### *'Non-equi-join'*

Chamamos de *'non-equi-join'* a uma junção de tabelas que não usa a igualdade de colunas como critério de junção. 

Podemos fazer muitas investigações úteis com junção de tabelas. Vamos acompanhar um exemplo (também está no livro-texto).

Na base 'musica' temos uma tabela estranha, de poucas linhas, chamada cd_categoria.

In [ ]:
db('DESCRIBE CD_CATEGORIA')

In [ ]:
db('SELECT * from CD_CATEGORIA')

Esta tabela lista as categorias de preço de CDs. Por exemplo, se um CD custa 9 reais, ele está na categoria 1.

Gostariamos de usar essa informação em conjunto com a tabela de CDs para obter a lista de CDs em cada categoria. Por onde começar?

Vamos montar o produto cartesiano desta tabela cd_categoria com a tabela de CDs e ver se algum *insight* aparece:

In [ ]:
db('SELECT * FROM CD, CD_CATEGORIA LIMIT 10')

Interessante! Como se trata do produto cartesiano, cada CD é listado repetidas vezes, uma para cada categoria de CDs. 

*Cada linha tem* ***o preço do CD*** *e um par de valores com* ***limites de preço de faixa***. Leia esta sentença quantas vezes for necessário.

E se filtrássemos esse resultado para manter apenas as linhas onde o preço do CD está dentro dos limites de preço?

In [ ]:
db("""
SELECT 
    * 
FROM 
    CD c,
    CD_CATEGORIA cat 
WHERE 
    c.Preco_Venda BETWEEN cat.Menor_Preco AND cat.Maior_Preco
""")

Surgiu um pequeno problema: tem CD alocado para duas categorias ao mesmo tempo! Culpa do operador `BETWEEN` e da nossa interpretação da tabela `cd_categoria`. Vamos remover o `BETWEEN` e usar os limites do jeito que a gente quer:

In [ ]:
db("""
SELECT 
    * 
FROM 
    CD cd, 
    CD_CATEGORIA cat 
WHERE 
    cd.Preco_Venda >= cat.Menor_Preco 
    AND cd.Preco_Venda < cat.Maior_Preco
""")

Finalmente, vamos ajustar nossa query para buscar os nomes de CDs na faixa 2 de preço:

In [ ]:
db("""
SELECT 
    Nome_CD 
FROM 
    CD cd, 
    CD_CATEGORIA cat 
WHERE 
    cd.Preco_Venda >= cat.Menor_Preco 
    AND cd.Preco_Venda < cat.Maior_Preco
    AND cat.Codigo_categoria = 2
""")

#### Vamos praticar

**Exercício 05**: Liste o nome do CD e de sua respectiva gravadora para CDs na categoria 2.

In [ ]:
db('''
-- SUA QUERY AQUI!
''')

In [ ]:
sql_ex05 = '''
-- SUA QUERY AQUI!
'''

db(sql_ex05)

In [ ]:
ia.sender(answer='sql_ex05', task='agg_join', question='ex05', answer_type='pyvar')

Vamos agora fechar a conexão com este banco de dados, porque no próximo tópico vamos abrir uma conexão com outro banco de dados.

In [ ]:
connection.close()

### Outer join

Considere a seguinte base de testes: cada perigo tem um nome e cada comida tem um nome e um perigo associado. (Use o script `tranqueira.sql` para testar essa base.)

```SQL
DROP DATABASE IF EXISTS tranqueira;
CREATE DATABASE tranqueira;
USE tranqueira;

CREATE TABLE comida (
	id INT NOT NULL AUTO_INCREMENT,
	Nome VARCHAR(30),
    idPerigo INT,
    PRIMARY KEY (id)
);

CREATE TABLE perigo (
	id INT NOT NULL AUTO_INCREMENT,
    Nome VARCHAR(20),
    PRIMARY KEY (id)
);

ALTER TABLE comida ADD FOREIGN KEY (idPerigo) REFERENCES perigo (id);

INSERT INTO perigo VALUES (1, 'Cardiaco'), (2, 'Intestinal'), (3, 'Dermatologico'), (4, 'Mental');
INSERT INTO comida VALUES (1, 'Torresmo', 1), (2, 'Alface', NULL), (3, 'Coxinha', 2), (4, 'Espetinho', 2);

SELECT * FROM comida;
SELECT * FROM perigo;
```

![Tabela comida](imgs/comida.png)

![Tabela perigo](imgs/perigo.png)

Fazendo o inner join da tabela comida com a tabela perigo temos a lista de comidas que estão associadas a algum perigo:

In [ ]:
connection_tranqueira = mysql.connector.connect(
    host=os.getenv("MD_DB_SERVER"),
    user=os.getenv("MD_DB_USERNAME"),
    password=os.getenv("MD_DB_PASSWORD"),
    database="tranqueira"
)

dbt = partial(run_db_query, connection_tranqueira)

dbt('USE tranqueira')
dbt('''
SELECT 
    comida.Nome, perigo.Nome 
FROM 
    comida INNER JOIN perigo ON comida.idPerigo = perigo.id
''')

Note que a alface não aparece aqui. 

Se quisermos que todas as comidas apareçam neste join, mesmo que não estejam associadas a um perigo, como fazer? Para isso servem os ***outer joins***. Vamos experimentar com o **`LEFT OUTER JOIN`**:

In [ ]:
dbt('''
SELECT 
    comida.Nome, 
    perigo.Nome 
FROM
    comida
    LEFT OUTER JOIN perigo ON comida.idPerigo = perigo.id
''')

Veja que agora podemos observar que a alface não oferece perigo! E se quisermos fazer o contrário: queremos que todos os perigos apareçam, mesmo que não exista comida associada? Vamos usar o **`RIGHT OUTER JOIN`**:

In [ ]:
dbt('''
SELECT 
    comida.Nome,
    perigo.Nome
FROM
    comida
    RIGHT OUTER JOIN perigo ON comida.idPerigo = perigo.id
''')

Agora os perigos dermatológico e mental aparecem, mas não existem comidas associadas a eles!

Os dois tipos de join são redundantes: basta inverter a ordem das partes para trocar de `RIGHT OUTER JOIN` para `LEFT OUTER JOIN`. Por exemplo:

In [ ]:
dbt('''
SELECT
    comida.Nome,
    perigo.Nome
FROM
    perigo
    LEFT OUTER JOIN comida ON comida.idPerigo = perigo.id
''')

#### Vamos praticar

**Exercício 6**: Liste os perigos que não estão associados a nenhuma comida.

In [ ]:
sql_ex06 = '''
-- SUA QUERY AQUI!
'''

db(sql_ex06)

In [ ]:
ia.sender(answer='sql_ex06', task='agg_join', question='ex06', answer_type='pyvar')

## Finalizando o trabalho

Por fim, vamos fechar nossa conexão com o banco de dados!

In [ ]:
connection.close()
connection_tranqueira.close()

Se você tentar fechar a conexão duas vezes, nada acontecerá nesta biblioteca. Outras bibliotecas podem lançar terá uma exceção: consulte a documentação da sua biblioteca.

In [ ]:
connection.close()

Por hoje é só! Pratique com os exercícios do seu livro texto.

## Conferir Notas

Confira se as notas na atividade são as esperadas!

Primeiro na atividade atual!

In [ ]:
ia.grades(by="task", task="agg_join")

In [ ]:
ia.grades(task="agg_join")

E agora em todas as tarefas!

In [ ]:
ia.grades(by="task")

In [ ]:
ia.grades()